@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
.wrap-table100 {
  width: 400px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 40px;
  background: #36304a;
}
table tbody tr {
  height: 35px;
}
.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
}

tbody tr:hover {
  color: #555555;
  background-color: #ffff99;
  cursor: pointer;
}

.column1 {
  width: 90px;
}

.column2 {
  width: 90px;
}

.column3 {
  width: 90px;
}

.column4 {
  width: 90px;
}

.column5 {
  width: 90px;
}
